.bank-switch-container {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.bank-switch {
    position: relative;
    display: inline-block;
    width: 140px;
    height: 34px;
}

.bank-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #212529;
    transition: .2s;
    border-radius: 34px;
    border: 1px solid #e9ecef;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
}

.bank-a,
.bank-b {
    z-index: 1;
    font-size: 12px;
    font-weight: bold;
    transition: .2s;
    color: #e9ecef;
    user-select: none;
    margin-bottom: 1px;

}


.slider:before {
    position: absolute;
    content: "";
    height: 28px;
    width: 70px;
    left: 2px;
    bottom: 2px;
    background-color: #e9ecef;
    transition: .2s;
    border-radius: 34px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

input:checked+.slider {
    background-color: #212529;
}

input:checked+.slider:before {
    transform: translateX(64px);
}

input:checked+.slider .bank-a {
    color: #e9ecef;
}

input:checked+.slider .bank-b {
    color: #212529;
}

.slider .bank-a {
    color: #212529;
}

.slider .bank-b {
    color: #e9ecef;
}